* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

body {
    background-color: rgb(157, 79, 180);

}

main {
    background-color: darkgray;
    width: 400px;
    height: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
}